apiVersion: v1
kind: Service
metadata:
  name: ollama-service
  labels:
    app: ollama
spec:
  ports:
  - port: 11434
    targetPort: 11434
    protocol: TCP
    name: ollama
  selector:
    app: ollama
  # Note: This assumes Ollama is running as a separate deployment
  # For local minikube, you may want to use a NodePort or LoadBalancer
  type: ClusterIP

